<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.demo.mapper.DemoMapper">

	<sql id="columns">
		id          as "id",
		name        as "name"
	</sql>
	
	<select id="get" resultType="com.github.hualuomoli.demo.entity.Demo">
		select 
			<include refid="columns" />
		from demo
		where id =  #{id}
	</select>
	
	<insert id="insert">
		insert into demo (
			id         ,
			name       
		) values (
			#{id}        ,
			#{name}      
		)
	</insert>
	
	<select id="findList" resultType="com.github.hualuomoli.demo.entity.Demo">
	    select 
			<include refid="columns" />
		from demo
		<where>
		    <if test="id != null and id != ''">
		        and id = #{id}
		    </if>
		    <if test="name != null and name != ''">
		        and name = #{name}
		    </if>
		</where>
		<if test="orderByStr != null and orderByStr != ''">
		    order by ${orderByStr}
		</if>
	</select>
	
</mapper>