<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.demo.base.mapper.DemoMapper">

	<sql id="columns">
		id				as "id",
		create_by		as "createBy",
		create_date		as "createDate",
		update_by		as "updateBy",
		update_date		as "updateDate",
		status			as "status",
		remark			as "remark",
		name			as "name",
		sex				as "sex",
		age				as "age",
		address			as "address"
	</sql>
	
	<select id="get" resultType="com.github.hualuomoli.demo.base.entity.Demo">
		select 
		<include refid="columns" />
		from demo
		where id = #{id}
	</select>

	<insert id="insert">
	INSERT INTO demo(
		id,
		create_by,
		create_date,
		update_by,
		update_date,
		status,
		remark,
		name,
		sex,
		age,
		address
	) VALUES (
		#{id}, 
		#{createBy}, 
		#{createDate}, 
		#{updateBy}, 
		#{updateDate}, 
		#{status}, 
		#{remark}, 
		#{name}, 
		#{sex}, 
		#{age}, 
		#{address}
	)
	</insert>
	
	<update id="update">
		update demo
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="sex != null and sex != ''">
				sex = #{sex},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
			<if test="address != null and address != ''">
				address = #{address},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			update_by = #{updateBy},
			update_date = #{updateDate}
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from demo where id = #{id}
	</delete>
	
	<select id="findList" resultType="com.github.hualuomoli.demo.base.entity.Demo">
		select
		<include refid="columns" />
		from demo
		<where>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="sex != null and sex != ''">
				and sex = #{sex}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
			<if test="address != null and address != ''">
				and address = #{address}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="remark != null and remark != ''">
				and remark = #{remark}
			</if>
		</where>
		<if test="pagination != null and pagination.orderBy != null and pagination.orderBy != ''">
		order by ${pagination.orderBy}
		</if>
	</select>

	

</mapper>