<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.demo.base.mapper.BaseUserMapper">

  <sql id="columns">
    `id`          as "id"        ,
    `version`     as "version"   ,
    `username`    as "username"  ,
    `nickname`    as "nickname"  ,
    `create_by`   as "createBy"  ,
    `create_date` as "createDate",
    `update_by`   as "updateBy"  ,
    `update_date` as "updateDate",
    `status`      as "status"    
  </sql>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`          = #{id}        
    </if>
    <if test="version != null"> 
      and `version`     = #{version}   
    </if>
    <if test="username != null and username != ''"> 
      and `username`    = #{username}  
    </if>
    <if test="nickname != null and nickname != ''"> 
      and `nickname`    = #{nickname}  
    </if>
    <if test="createBy != null and createBy != ''"> 
      and `create_by`   = #{createBy}  
    </if>
    <if test="createDate != null"> 
      and `create_date` = #{createDate}
    </if>
    <if test="updateBy != null and updateBy != ''"> 
      and `update_by`   = #{updateBy}  
    </if>
    <if test="updateDate != null"> 
      and `update_date` = #{updateDate}
    </if>
    <if test="status != null"> 
      and `status`      = #{status}    
    </if>
  </sql>
  
  <select id="get" resultType="com.github.hualuomoli.demo.base.entity.BaseUser">
    select 
      <include refid="columns" />
    from `t_user`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `t_user` (
      `id`         ,
      `version`    ,
      `username`   ,
      `nickname`   ,
      `create_by`  ,
      `create_date`,
      `update_by`  ,
      `update_date`,
      `status`     
    ) values (
      #{id}        ,
      #{version}   ,
      #{username}  ,
      #{nickname}  ,
      #{createBy}  ,
      #{createDate},
      #{updateBy}  ,
      #{updateDate},
      #{status}    
    )
  </insert>
  
  <insert id="batchInsert">
    insert into `t_user` (
      `id`         ,
      `version`    ,
      `username`   ,
      `nickname`   ,
      `create_by`  ,
      `create_date`,
      `update_by`  ,
      `update_date`,
      `status`     
    ) 
     <foreach collection="list" item="obj" separator="union all">
            select
        #{obj.id}        ,
        #{obj.version}   ,
        #{obj.username}  ,
        #{obj.nickname}  ,
        #{obj.createBy}  ,
        #{obj.createDate},
        #{obj.updateBy}  ,
        #{obj.updateDate},
        #{obj.status}    
         </foreach>
  </insert>
  
  <update id="update">
    update `t_user`
    <set>
      <if test="version != null"> 
        `version`     = #{version}   ,
      </if>
      <if test="username != null"> 
        `username`    = #{username}  ,
      </if>
      <if test="nickname != null"> 
        `nickname`    = #{nickname}  ,
      </if>
      <if test="createBy != null"> 
        `create_by`   = #{createBy}  ,
      </if>
      <if test="createDate != null"> 
        `create_date` = #{createDate},
      </if>
      <if test="updateBy != null"> 
        `update_by`   = #{updateBy}  ,
      </if>
      <if test="updateDate != null"> 
        `update_date` = #{updateDate},
      </if>
      <if test="status != null"> 
        `status`      = #{status}    ,
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `t_user` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `t_user`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultType="com.github.hualuomoli.demo.base.entity.BaseUser">
    select
      <include refid="columns" />
    from `t_user`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>