<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.demo.extend.base.mapper.BaseRoleMapper">

  <sql id="columns">
    `id`        as "id"      ,
    `role_code` as "roleCode",
    `role_name` as "roleName"
  </sql>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`        = #{id}      
    </if>
    <if test="roleCode != null and roleCode != ''"> 
      and `role_code` = #{roleCode}
    </if>
    <if test="roleName != null and roleName != ''"> 
      and `role_name` = #{roleName}
    </if>
	<!-- 比较查询 -->
  </sql>
  
  <select id="get" resultType="com.github.hualuomoli.demo.extend.base.entity.BaseRole">
    select 
      <include refid="columns" />
    from `s_role`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `s_role` (
      `id`       ,
      `role_code`,
      `role_name`
    ) values (
      #{id}      ,
      #{roleCode},
      #{roleName}
    )
  </insert>
  
  <insert id="batchInsert">
    insert into `s_role` (
      `id`       ,
      `role_code`,
      `role_name`
    ) 
     <foreach collection="list" item="obj" separator="union all">
            select
        #{obj.id}      ,
        #{obj.roleCode},
        #{obj.roleName}
         </foreach>
  </insert>
  
  <update id="update">
    update `s_role`
    <set>
      <if test="roleCode != null"> 
        `role_code` = #{roleCode},
      </if>
      <if test="roleName != null"> 
        `role_name` = #{roleName},
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `s_role` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `s_role`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultType="com.github.hualuomoli.demo.extend.base.entity.BaseRole">
    select
      <include refid="columns" />
    from `s_role`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>