<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.demo.base.mapper.DemoMapper">

	<sql id="columns">
		id          as "id",
		version     as "version",
		name        as "name",
		age         as "age",
		seconds     as "seconds",
		salary      as "salary",
		sex         as "sex",
		birth_day   as "birthDay",
		create_by   as "createBy",
		create_date as "createDate",
		update_by   as "updateBy",
		update_date as "updateDate",
		status      as "status",
		remark      as "remark"
	</sql>
	
	<sql id="querys">
		<if test="id != null and id != ''">	
			id          = #{id}        
		</if>
		<if test="version != null">	
			version     = #{version}   
		</if>
		<if test="name != null and name != ''">	
			name        = #{name}      
		</if>
		<if test="age != null">	
			age         = #{age}       
		</if>
		<if test="seconds != null">	
			seconds     = #{seconds}   
		</if>
		<if test="salary != null">	
			salary      = #{salary}    
		</if>
		<if test="sex != null and sex != ''">	
			sex         = #{sex}       
		</if>
		<if test="birthDay != null">	
			birth_day   = #{birthDay}  
		</if>
		<if test="createBy != null and createBy != ''">	
			create_by   = #{createBy}  
		</if>
		<if test="createDate != null">	
			create_date = #{createDate}
		</if>
		<if test="updateBy != null and updateBy != ''">	
			update_by   = #{updateBy}  
		</if>
		<if test="updateDate != null">	
			update_date = #{updateDate}
		</if>
		<if test="status != null">	
			status      = #{status}    
		</if>
		<if test="remark != null and remark != ''">	
			remark      = #{remark}    
		</if>
	</sql>
	
	<select id="get" resultType="com.github.hualuomoli.demo.base.entity.Demo">
		select 
			<include refid="columns" />
		from demo
		where id =  #{id}
	</select>
	
	<insert id="insert">
		insert into demo (
			id         ,
			version    ,
			name       ,
			age        ,
			seconds    ,
			salary     ,
			sex        ,
			birth_day  ,
			create_by  ,
			create_date,
			update_by  ,
			update_date,
			status     ,
			remark     
		) values (
			#{id}        ,
			#{version}   ,
			#{name}      ,
			#{age}       ,
			#{seconds}   ,
			#{salary}    ,
			#{sex}       ,
			#{birthDay}  ,
			#{createBy}  ,
			#{createDate},
			#{updateBy}  ,
			#{updateDate},
			#{status}    ,
			#{remark}    
		)
	</insert>
	
	<insert id="batchInsert">
		insert into demo (
			id         ,
			version    ,
			name       ,
			age        ,
			seconds    ,
			salary     ,
			sex        ,
			birth_day  ,
			create_by  ,
			create_date,
			update_by  ,
			update_date,
			status     ,
			remark     
		) 
		 <foreach collection="list" item="obj" separator="union all">
            select
				#{obj.id}        ,
				#{obj.version}   ,
				#{obj.name}      ,
				#{obj.age}       ,
				#{obj.seconds}   ,
				#{obj.salary}    ,
				#{obj.sex}       ,
				#{obj.birthDay}  ,
				#{obj.createBy}  ,
				#{obj.createDate},
				#{obj.updateBy}  ,
				#{obj.updateDate},
				#{obj.status}    ,
				#{obj.remark}    
         </foreach>
	</insert>
	
	<update id="update">
		update demo
		<set>
			<if test="version != null">	
				version     = #{version}   ,
			</if>
			<if test="name != null">	
				name        = #{name}      ,
			</if>
			<if test="age != null">	
				age         = #{age}       ,
			</if>
			<if test="seconds != null">	
				seconds     = #{seconds}   ,
			</if>
			<if test="salary != null">	
				salary      = #{salary}    ,
			</if>
			<if test="sex != null">	
				sex         = #{sex}       ,
			</if>
			<if test="birthDay != null">	
				birth_day   = #{birthDay}  ,
			</if>
			<if test="createBy != null">	
				create_by   = #{createBy}  ,
			</if>
			<if test="createDate != null">	
				create_date = #{createDate},
			</if>
			<if test="updateBy != null">	
				update_by   = #{updateBy}  ,
			</if>
			<if test="updateDate != null">	
				update_date = #{updateDate},
			</if>
			<if test="status != null">	
				status      = #{status}    ,
			</if>
			<if test="remark != null">	
				remark      = #{remark}    ,
			</if>
		</set>
		where id =  #{id}
	</update>
	
	<delete id="delete">
		delete from demo where id =  #{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from demo
		<where>
	        <foreach collection="ids" item="id" separator="or">
	            id = #{id}
	        </foreach>
	    </where>
	</delete>
	
	<select id="findList" resultType="com.github.hualuomoli.demo.base.entity.Demo">
		select
			<include refid="columns" />
		from demo
		<where>
			<include refid="querys" />
		</where>
		<if test="pagination != null and pagination.orderBy != null and pagination.orderBy != ''">
			order by ${pagination.orderBy}
		</if>
	</select>
	
</mapper>