<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.extend.base.mapper.BaseRoleMenuMapper">

  <sql id="columns">
    `id`        as "id"      ,
    `role_code` as "roleCode",
    `menu_code` as "menuCode"
  </sql>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`        = #{id}      
    </if>
    <if test="roleCode != null and roleCode != ''"> 
      and `role_code` = #{roleCode}
    </if>
    <if test="menuCode != null and menuCode != ''"> 
      and `menu_code` = #{menuCode}
    </if>
	<!-- 比较查询 -->
    <if test="roleCodeArray != null"> 
      and
      <foreach collection="roleCodeArray" open="(" close=")" separator="or" item="data">
    		`role_code` = #{data}
    	</foreach>
    </if>
    <if test="menuCodeArray != null"> 
      and
      <foreach collection="menuCodeArray" open="(" close=")" separator="or" item="data">
    		`menu_code` = #{data}
    	</foreach>
    </if>
  </sql>
  
  <select id="get" resultType="com.github.hualuomoli.extend.base.entity.BaseRoleMenu">
    select 
      <include refid="columns" />
    from `sys_role_menu`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `sys_role_menu` (
      `id`       ,
      `role_code`,
      `menu_code`
    ) values (
      #{id}      ,
      #{roleCode},
      #{menuCode}
    )
  </insert>
  
  <insert id="batchInsert">
    insert into `sys_role_menu` (
      `id`       ,
      `role_code`,
      `menu_code`
    ) 
     <foreach collection="list" item="obj" separator="union all">
            select
        #{obj.id}      ,
        #{obj.roleCode},
        #{obj.menuCode}
         </foreach>
  </insert>
  
  <update id="update">
    update `sys_role_menu`
    <set>
      <if test="roleCode != null"> 
        `role_code` = #{roleCode},
      </if>
      <if test="menuCode != null"> 
        `menu_code` = #{menuCode},
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `sys_role_menu` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `sys_role_menu`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultType="com.github.hualuomoli.extend.base.entity.BaseRoleMenu">
    select
      <include refid="columns" />
    from `sys_role_menu`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>