<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.extend.base.mapper.BaseMenuMapper">

  <sql id="columns">
    `id`           as "id"         ,
    `menu_code`    as "menuCode"   ,
    `menu_name`    as "menuName"   ,
    `parent_code`  as "parentCode" ,
    `full_name`    as "fullName"   ,
    `menu_type`    as "menuType"   ,
    `icon`         as "icon"       ,
    `router_state` as "routerState",
    `permission`   as "permission" ,
    `menu_sort`    as "menuSort"   ,
    `menu_level`   as "menuLevel"  ,
    `create_by`    as "createBy"   ,
    `create_date`  as "createDate" ,
    `update_by`    as "updateBy"   ,
    `update_date`  as "updateDate" ,
    `status`       as "status"     ,
    `status_name`  as "statusName" 
  </sql>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`           = #{id}         
    </if>
    <if test="menuCode != null and menuCode != ''"> 
      and `menu_code`    = #{menuCode}   
    </if>
    <if test="menuName != null and menuName != ''"> 
      and `menu_name`    = #{menuName}   
    </if>
    <if test="parentCode != null and parentCode != ''"> 
      and `parent_code`  = #{parentCode} 
    </if>
    <if test="fullName != null and fullName != ''"> 
      and `full_name`    = #{fullName}   
    </if>
    <if test="menuType != null"> 
      and `menu_type`    = #{menuType}   
    </if>
    <if test="icon != null and icon != ''"> 
      and `icon`         = #{icon}       
    </if>
    <if test="routerState != null and routerState != ''"> 
      and `router_state` = #{routerState}
    </if>
    <if test="permission != null and permission != ''"> 
      and `permission`   = #{permission} 
    </if>
    <if test="menuSort != null"> 
      and `menu_sort`    = #{menuSort}   
    </if>
    <if test="menuLevel != null"> 
      and `menu_level`   = #{menuLevel}  
    </if>
    <if test="createBy != null and createBy != ''"> 
      and `create_by`    = #{createBy}   
    </if>
    <if test="createDate != null"> 
      and `create_date`  = #{createDate} 
    </if>
    <if test="updateBy != null and updateBy != ''"> 
      and `update_by`    = #{updateBy}   
    </if>
    <if test="updateDate != null"> 
      and `update_date`  = #{updateDate} 
    </if>
    <if test="status != null"> 
      and `status`       = #{status}     
    </if>
    <if test="statusName != null and statusName != ''"> 
      and `status_name`  = #{statusName} 
    </if>
	<!-- 比较查询 -->
    <if test="menuCodeArray != null"> 
      and
      <foreach collection="menuCodeArray" open="(" close=")" separator="or" item="data">
    		`menu_code` = #{data}
    	</foreach>
    </if>
  </sql>
  
  <select id="get" resultType="com.github.hualuomoli.extend.base.entity.BaseMenu">
    select 
      <include refid="columns" />
    from `sys_menu`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `sys_menu` (
      `id`          ,
      `menu_code`   ,
      `menu_name`   ,
      `parent_code` ,
      `full_name`   ,
      `menu_type`   ,
      `icon`        ,
      `router_state`,
      `permission`  ,
      `menu_sort`   ,
      `menu_level`  ,
      `create_by`   ,
      `create_date` ,
      `update_by`   ,
      `update_date` ,
      `status`      ,
      `status_name` 
    ) values (
      #{id}         ,
      #{menuCode}   ,
      #{menuName}   ,
      #{parentCode} ,
      #{fullName}   ,
      #{menuType}   ,
      #{icon}       ,
      #{routerState},
      #{permission} ,
      #{menuSort}   ,
      #{menuLevel}  ,
      #{createBy}   ,
      #{createDate} ,
      #{updateBy}   ,
      #{updateDate} ,
      #{status}     ,
      #{statusName} 
    )
  </insert>
  
  <insert id="batchInsert">
    insert into `sys_menu` (
      `id`          ,
      `menu_code`   ,
      `menu_name`   ,
      `parent_code` ,
      `full_name`   ,
      `menu_type`   ,
      `icon`        ,
      `router_state`,
      `permission`  ,
      `menu_sort`   ,
      `menu_level`  ,
      `create_by`   ,
      `create_date` ,
      `update_by`   ,
      `update_date` ,
      `status`      ,
      `status_name` 
    ) 
     <foreach collection="list" item="obj" separator="union all">
            select
        #{obj.id}         ,
        #{obj.menuCode}   ,
        #{obj.menuName}   ,
        #{obj.parentCode} ,
        #{obj.fullName}   ,
        #{obj.menuType}   ,
        #{obj.icon}       ,
        #{obj.routerState},
        #{obj.permission} ,
        #{obj.menuSort}   ,
        #{obj.menuLevel}  ,
        #{obj.createBy}   ,
        #{obj.createDate} ,
        #{obj.updateBy}   ,
        #{obj.updateDate} ,
        #{obj.status}     ,
        #{obj.statusName} 
         </foreach>
  </insert>
  
  <update id="update">
    update `sys_menu`
    <set>
      <if test="menuCode != null"> 
        `menu_code`    = #{menuCode}   ,
      </if>
      <if test="menuName != null"> 
        `menu_name`    = #{menuName}   ,
      </if>
      <if test="parentCode != null"> 
        `parent_code`  = #{parentCode} ,
      </if>
      <if test="fullName != null"> 
        `full_name`    = #{fullName}   ,
      </if>
      <if test="menuType != null"> 
        `menu_type`    = #{menuType}   ,
      </if>
      <if test="icon != null"> 
        `icon`         = #{icon}       ,
      </if>
      <if test="routerState != null"> 
        `router_state` = #{routerState},
      </if>
      <if test="permission != null"> 
        `permission`   = #{permission} ,
      </if>
      <if test="menuSort != null"> 
        `menu_sort`    = #{menuSort}   ,
      </if>
      <if test="menuLevel != null"> 
        `menu_level`   = #{menuLevel}  ,
      </if>
      <if test="createBy != null"> 
        `create_by`    = #{createBy}   ,
      </if>
      <if test="createDate != null"> 
        `create_date`  = #{createDate} ,
      </if>
      <if test="updateBy != null"> 
        `update_by`    = #{updateBy}   ,
      </if>
      <if test="updateDate != null"> 
        `update_date`  = #{updateDate} ,
      </if>
      <if test="status != null"> 
        `status`       = #{status}     ,
      </if>
      <if test="statusName != null"> 
        `status_name`  = #{statusName} ,
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `sys_menu` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `sys_menu`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultType="com.github.hualuomoli.extend.base.entity.BaseMenu">
    select
      <include refid="columns" />
    from `sys_menu`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>