<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.extend.base.mapper.BaseUploadFileMapper">

  <sql id="columns">
    `id`                as "id"              ,
    `fieldname`         as "fieldname"       ,
    `original_filename` as "originalFilename",
    `size`              as "size"            ,
    `mimetype`          as "mimetype"        ,
    `file_md5`          as "fileMd5"         ,
    `file_fullname`     as "fileFullname"    ,
    `filename`          as "filename"        ,
    `file_suffix`       as "fileSuffix"      ,
    `file_absolutepath` as "fileAbsolutepath",
    `url`               as "url"             ,
    `server_url`        as "serverUrl"       ,
    `relative_url`      as "relativeUrl"     
  </sql>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`                = #{id}              
    </if>
    <if test="fieldname != null and fieldname != ''"> 
      and `fieldname`         = #{fieldname}       
    </if>
    <if test="originalFilename != null and originalFilename != ''"> 
      and `original_filename` = #{originalFilename}
    </if>
    <if test="size != null"> 
      and `size`              = #{size}            
    </if>
    <if test="mimetype != null and mimetype != ''"> 
      and `mimetype`          = #{mimetype}        
    </if>
    <if test="fileMd5 != null and fileMd5 != ''"> 
      and `file_md5`          = #{fileMd5}         
    </if>
    <if test="fileFullname != null and fileFullname != ''"> 
      and `file_fullname`     = #{fileFullname}    
    </if>
    <if test="filename != null and filename != ''"> 
      and `filename`          = #{filename}        
    </if>
    <if test="fileSuffix != null and fileSuffix != ''"> 
      and `file_suffix`       = #{fileSuffix}      
    </if>
    <if test="fileAbsolutepath != null and fileAbsolutepath != ''"> 
      and `file_absolutepath` = #{fileAbsolutepath}
    </if>
    <if test="url != null and url != ''"> 
      and `url`               = #{url}             
    </if>
    <if test="serverUrl != null and serverUrl != ''"> 
      and `server_url`        = #{serverUrl}       
    </if>
    <if test="relativeUrl != null and relativeUrl != ''"> 
      and `relative_url`      = #{relativeUrl}     
    </if>
	<!-- 比较查询 -->
  </sql>
  
  <select id="get" resultType="com.github.hualuomoli.extend.base.entity.BaseUploadFile">
    select 
      <include refid="columns" />
    from `sys_upload_file`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `sys_upload_file` (
      `id`               ,
      `fieldname`        ,
      `original_filename`,
      `size`             ,
      `mimetype`         ,
      `file_md5`         ,
      `file_fullname`    ,
      `filename`         ,
      `file_suffix`      ,
      `file_absolutepath`,
      `url`              ,
      `server_url`       ,
      `relative_url`     
    ) values (
      #{id}              ,
      #{fieldname}       ,
      #{originalFilename},
      #{size}            ,
      #{mimetype}        ,
      #{fileMd5}         ,
      #{fileFullname}    ,
      #{filename}        ,
      #{fileSuffix}      ,
      #{fileAbsolutepath},
      #{url}             ,
      #{serverUrl}       ,
      #{relativeUrl}     
    )
  </insert>
  
  <insert id="batchInsert">
    insert into `sys_upload_file` (
      `id`               ,
      `fieldname`        ,
      `original_filename`,
      `size`             ,
      `mimetype`         ,
      `file_md5`         ,
      `file_fullname`    ,
      `filename`         ,
      `file_suffix`      ,
      `file_absolutepath`,
      `url`              ,
      `server_url`       ,
      `relative_url`     
    ) 
     <foreach collection="list" item="obj" separator="union all">
            select
        #{obj.id}              ,
        #{obj.fieldname}       ,
        #{obj.originalFilename},
        #{obj.size}            ,
        #{obj.mimetype}        ,
        #{obj.fileMd5}         ,
        #{obj.fileFullname}    ,
        #{obj.filename}        ,
        #{obj.fileSuffix}      ,
        #{obj.fileAbsolutepath},
        #{obj.url}             ,
        #{obj.serverUrl}       ,
        #{obj.relativeUrl}     
         </foreach>
  </insert>
  
  <update id="update">
    update `sys_upload_file`
    <set>
      <if test="fieldname != null"> 
        `fieldname`         = #{fieldname}       ,
      </if>
      <if test="originalFilename != null"> 
        `original_filename` = #{originalFilename},
      </if>
      <if test="size != null"> 
        `size`              = #{size}            ,
      </if>
      <if test="mimetype != null"> 
        `mimetype`          = #{mimetype}        ,
      </if>
      <if test="fileMd5 != null"> 
        `file_md5`          = #{fileMd5}         ,
      </if>
      <if test="fileFullname != null"> 
        `file_fullname`     = #{fileFullname}    ,
      </if>
      <if test="filename != null"> 
        `filename`          = #{filename}        ,
      </if>
      <if test="fileSuffix != null"> 
        `file_suffix`       = #{fileSuffix}      ,
      </if>
      <if test="fileAbsolutepath != null"> 
        `file_absolutepath` = #{fileAbsolutepath},
      </if>
      <if test="url != null"> 
        `url`               = #{url}             ,
      </if>
      <if test="serverUrl != null"> 
        `server_url`        = #{serverUrl}       ,
      </if>
      <if test="relativeUrl != null"> 
        `relative_url`      = #{relativeUrl}     ,
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `sys_upload_file` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `sys_upload_file`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultType="com.github.hualuomoli.extend.base.entity.BaseUploadFile">
    select
      <include refid="columns" />
    from `sys_upload_file`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>