<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.extend.base.mapper.BaseRoleMapper">

  <resultMap id="dataMap" type="com.github.hualuomoli.extend.base.entity.BaseRole">
    <result column="id"        property="id" />
    <result column="role_code" property="roleCode" />
    <result column="role_name" property="roleName" />
  </resultMap>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`        = #{id}      
    </if>
    <if test="roleCode != null and roleCode != ''"> 
      and `role_code` = #{roleCode}
    </if>
    <if test="roleName != null and roleName != ''"> 
      and `role_name` = #{roleName}
    </if>
	<!-- 比较查询 -->
    <if test="roleCodeArray != null"> 
      and
      <foreach collection="roleCodeArray" open="(" close=")" separator="or" item="data">
    		`role_code` = #{data}
    	</foreach>
    </if>
  </sql>
  
  <select id="get" resultMap="dataMap">
    select * from `sys_role`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `sys_role` (
      `id`       ,
      `role_code`,
      `role_name`
    ) values (
      #{id}      ,
      #{roleCode},
      #{roleName}
    )
  </insert>

  <insert id="batchInsert">
    insert into `sys_role` (
      `id`       ,
      `role_code`,
      `role_name`
    ) 
     <foreach collection="list" item="obj" separator="union all">
     	select
        #{obj.id}      ,
        #{obj.roleCode},
        #{obj.roleName}
         </foreach>
  </insert>
  
  <update id="update">
    update `sys_role`
    <set>
      <if test="roleCode != null"> 
        `role_code` = #{roleCode},
      </if>
      <if test="roleName != null"> 
        `role_name` = #{roleName},
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `sys_role` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `sys_role`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultMap="dataMap">
    select * from `sys_role`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>