<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.extend.base.mapper.BaseUserMapper">

  <resultMap id="dataMap" type="com.github.hualuomoli.extend.base.entity.BaseUser">
    <result column="id"          property="id" />
    <result column="username"    property="username" />
    <result column="phone"       property="phone" />
    <result column="email"       property="email" />
    <result column="password"    property="password" />
    <result column="type"        property="type" />
    <result column="type_name"   property="typeName" />
    <result column="create_by"   property="createBy" />
    <result column="create_date" property="createDate" />
    <result column="update_by"   property="updateBy" />
    <result column="update_date" property="updateDate" />
    <result column="status"      property="status" />
    <result column="status_name" property="statusName" />
  </resultMap>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`          = #{id}        
    </if>
    <if test="username != null and username != ''"> 
      and `username`    = #{username}  
    </if>
    <if test="phone != null and phone != ''"> 
      and `phone`       = #{phone}     
    </if>
    <if test="email != null and email != ''"> 
      and `email`       = #{email}     
    </if>
    <if test="password != null and password != ''"> 
      and `password`    = #{password}  
    </if>
    <if test="type != null"> 
      and `type`        = #{type}      
    </if>
    <if test="typeName != null and typeName != ''"> 
      and `type_name`   = #{typeName}  
    </if>
    <if test="createBy != null and createBy != ''"> 
      and `create_by`   = #{createBy}  
    </if>
    <if test="createDate != null"> 
      and `create_date` = #{createDate}
    </if>
    <if test="updateBy != null and updateBy != ''"> 
      and `update_by`   = #{updateBy}  
    </if>
    <if test="updateDate != null"> 
      and `update_date` = #{updateDate}
    </if>
    <if test="status != null"> 
      and `status`      = #{status}    
    </if>
    <if test="statusName != null and statusName != ''"> 
      and `status_name` = #{statusName}
    </if>
	<!-- 比较查询 -->
  </sql>
  
  <select id="get" resultMap="dataMap">
    select * from `sys_user`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `sys_user` (
      `id`         ,
      `username`   ,
      `phone`      ,
      `email`      ,
      `password`   ,
      `type`       ,
      `type_name`  ,
      `create_by`  ,
      `create_date`,
      `update_by`  ,
      `update_date`,
      `status`     ,
      `status_name`
    ) values (
      #{id}        ,
      #{username}  ,
      #{phone}     ,
      #{email}     ,
      #{password}  ,
      #{type}      ,
      #{typeName}  ,
      #{createBy}  ,
      #{createDate},
      #{updateBy}  ,
      #{updateDate},
      #{status}    ,
      #{statusName}
    )
  </insert>

  <insert id="batchInsert">
    insert into `sys_user` (
      `id`         ,
      `username`   ,
      `phone`      ,
      `email`      ,
      `password`   ,
      `type`       ,
      `type_name`  ,
      `create_by`  ,
      `create_date`,
      `update_by`  ,
      `update_date`,
      `status`     ,
      `status_name`
    ) 
     <foreach collection="list" item="obj" separator="union all">
     	select
        #{obj.id}        ,
        #{obj.username}  ,
        #{obj.phone}     ,
        #{obj.email}     ,
        #{obj.password}  ,
        #{obj.type}      ,
        #{obj.typeName}  ,
        #{obj.createBy}  ,
        #{obj.createDate},
        #{obj.updateBy}  ,
        #{obj.updateDate},
        #{obj.status}    ,
        #{obj.statusName}
         </foreach>
  </insert>
  
  <update id="update">
    update `sys_user`
    <set>
      <if test="username != null"> 
        `username`    = #{username}  ,
      </if>
      <if test="phone != null"> 
        `phone`       = #{phone}     ,
      </if>
      <if test="email != null"> 
        `email`       = #{email}     ,
      </if>
      <if test="password != null"> 
        `password`    = #{password}  ,
      </if>
      <if test="type != null"> 
        `type`        = #{type}      ,
      </if>
      <if test="typeName != null"> 
        `type_name`   = #{typeName}  ,
      </if>
      <if test="createBy != null"> 
        `create_by`   = #{createBy}  ,
      </if>
      <if test="createDate != null"> 
        `create_date` = #{createDate},
      </if>
      <if test="updateBy != null"> 
        `update_by`   = #{updateBy}  ,
      </if>
      <if test="updateDate != null"> 
        `update_date` = #{updateDate},
      </if>
      <if test="status != null"> 
        `status`      = #{status}    ,
      </if>
      <if test="statusName != null"> 
        `status_name` = #{statusName},
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `sys_user` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `sys_user`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultMap="dataMap">
    select * from `sys_user`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>