<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.demo.creator.base.mapper.BaseCreatorRegionMapper">

  <sql id="columns">
    `id`   as "id"  ,
    `code` as "code",
    `name` as "name",
    `type` as "type"
  </sql>
  
  <sql id="querys">
    <if test="id != null and id != ''"> 
      and `id`   = #{id}  
    </if>
    <if test="code != null and code != ''"> 
      and `code` = #{code}
    </if>
    <if test="name != null and name != ''"> 
      and `name` = #{name}
    </if>
    <if test="type != null"> 
      and `type` = #{type}
    </if>
	<!-- 比较查询 -->
  </sql>
  
  <select id="get" resultType="com.github.hualuomoli.demo.creator.base.entity.BaseCreatorRegion">
    select 
      <include refid="columns" />
    from `t_creator_region`
    where id =  #{id}
  </select>
  
  <insert id="insert">
    insert into `t_creator_region` (
      `id`  ,
      `code`,
      `name`,
      `type`
    ) values (
      #{id}  ,
      #{code},
      #{name},
      #{type}
    )
  </insert>
  
  <insert id="batchInsert">
    insert into `t_creator_region` (
      `id`  ,
      `code`,
      `name`,
      `type`
    ) 
     <foreach collection="list" item="obj" separator="union all">
            select
        #{obj.id}  ,
        #{obj.code},
        #{obj.name},
        #{obj.type}
         </foreach>
  </insert>
  
  <update id="update">
    update `t_creator_region`
    <set>
      <if test="code != null"> 
        `code` = #{code},
      </if>
      <if test="name != null"> 
        `name` = #{name},
      </if>
      <if test="type != null"> 
        `type` = #{type},
      </if>
    </set>
    where id =  #{id}
  </update>
  
  <delete id="delete">
    delete from `t_creator_region` where id =  #{id}
  </delete>
  
  <delete id="deleteByIds">
    delete from `t_creator_region`
    <where>
          <foreach collection="ids" item="id" separator="or">
              id = #{id}
          </foreach>
      </where>
  </delete>
  
  <select id="findList" resultType="com.github.hualuomoli.demo.creator.base.entity.BaseCreatorRegion">
    select
      <include refid="columns" />
    from `t_creator_region`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>